---
layout: layout
---

<div class="content-grid">
  <div class="content-main">
    {{ content }}
  </div>
  <aside class="content-sidebar">
    <div class="info-card">
      <img src="{{ '/assets/images/group.jpg' | relative_url }}" alt="Schüffler Lab group picture" />
      <h2>Schüffler Lab</h2>
      <p>Technical University of Munich</p>
      <address>
        Trogerstrasse 18<br>
        81675 Munich<br>
        <a href="https://www.google.com/maps/place/Institut+f%C3%BCr+Pathologie/@48.1375569,11.5990813,17z/data=!4m9!1m2!2m1!1sPathologie+TUM!3m5!1s0x479e7578b2951cc1:0x1513c41bbb730f03!8m2!3d48.1372756!4d11.6023145!15sCg5QYXRob2xvZ2llIFRVTVoQIg5wYXRob2xvZ2llIHR1bZIBCGhvc3BpdGFs" target="_blank">
            <i class="fa fa-external-link"></i> Google Maps
        </a><br>
        <a href="https://www.professoren.tum.de/schueffler-peter"><i class="fa fa-external-link"></i> Find us at the TUM</a><br>
        <a href="https://www.mdsi.tum.de/mdsi/ueber-uns/kernmitglieder/#c390"><i class="fa fa-external-link"></i> Find us at the MDSI</a><br>
        <a href="https://mcml.ai/research/areac/"><i class="fa fa-external-link"></i> Find us at the MCML</a>
      </address>
    </div>

    <div class="info-card">
      <h4>Find us on&nbsp;
        <a href="https://mastodon.social/@schuefflerlab" target="_blank"><img src="{{ '/assets/images/mastodon.svg' | relative_url }}" class="logo-small" title="Mastodon"></a>&nbsp;
        <a href="https://x.com/schuefflerlab" target="_blank"><img src="{{ '/assets/images/X_logo_2023.svg' | relative_url }}" class="logo-small" title="X"></a>&nbsp;
        <a href="https://github.com/schuefflerlab" target="_blank"><img src="{{ '/assets/images/github.png' | relative_url }}" class="logo-small" title="Github"></a>&nbsp;
        <a href="https://huggingface.co/SchuefflerLab" target="_blank"><img src="{{ '/assets/images/huggingface_logo-noborder.svg' | relative_url }}" class="logo-small" title="Hugging Face"></a>
      </h4>
      <div id="mt-container" class="mt-container">
        <div class="mt-body" role="feed">
          <div class="mt-loading-spinner"></div>
        </div>
      </div>
    </div>
  </aside>
</div>
